<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>
	{% if page.language == "en" %}
		{{ site.title }}
	{% endif %}	
	{% if page.language == "de" %}
		{{ site.de-title }}
	{% endif %}	
	</strong> 
	<span>
	{% if page.language == "en" %}
		{{ site.subtitle }}
	{% endif %}	

	{% if page.language == "de" %}
		{{ site.de-subtitle }}
	{% endif %}	
	</span></a>
	
	<nav>
		{% if page.language == "de" %} <a href="index.html">EN</a> {% endif %}
		{% if page.language == "en" %} <a href="de-index.html">DE</a> {% endif %}

		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for p in site.pages %}
		    {% if p.layout == "home" and p.language == page.language %}
		        <li><a href="{{ "" | absolute_url }}/">{{ p.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for p in site.html_pages %}
		    {% if p.layout != "home" and p.nav-menu == true and p.language == page.language %}
		        <li><a href="{{ p.url | absolute_url }}">{{ p.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
<!--
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
-->
</nav>

